body {
  font-size: 18px; /* Ubah sesuai keinginan Anda */
  background-color: #FF6800; /* Warna background */
  color: white; /* Warna teks */
  font-weight: bold; /* Teks tebal */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

#info {
  margin-top: 20px;
  text-align: center;
}
