body {
  font-size: 18px;
  background-color: #FF6800;
  color: white;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

#info {
  margin-top: 20px;
  text-align: center;
}

.customer-name,
.seating-number {
  font-size: 30px; /* Ubah sesuai keinginan Anda */
}
